{
    "rules": {
        "indent": [2, 2],
        "quotes": [
            2,
            "simple"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "strict": [0],
        "camelcase": [0],
        "no-unused-vars": [0],
        "no-underscore-dangle": [0]
    },
    "env": {
        "browser": false,
        "node": true
    },
    "globals": {
      "describe": false,
      "xdescribe": false,
      "it": false,
      "jasmine": true,
      "beforeEach": false,
      "expect": false,
      "spyOn": false,
      "confirm": false,
      "jest": false,
      "beforeAll": false,
      "afterEach": false
  }

}
